{% extends 'host/base.html' %}

{% block title %} Login {% endblock %}

{% block body %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {

    font-family: Arial, Helvetica, sans-serif;
}

#local-login-form {
    background-color: rgb(248,249,250);
    padding-top: 2rem;
    padding-bottom: 10rem;
    border: 3px solid rgb(248,249,250);
    width: 500px; /* Set the width of the form */
    margin: 0 auto; /* Center the form horizontally */
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: #0852f4;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}
span.psw {
  float: right;
}
.instructions {
  font-size: x-large;
}
.btn-lg {
  width: 300px;
  font-variant: small-caps;
  font-size: 1.5rem;
}
.form-frame {
  background-color: #ebebeb;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
}
</style>

<body>
  {% if not user.is_authenticated %}
  <div class="form-frame d-flex flex-column align-items-center justify-content-center py-5">
    <div class="p-2">
        <p class="instructions">Click the button below to login with your preferred identity provider.</p>
    </div>
    <div class="p-2">
        <p class="my-3">or <a href="#local-login-form" onclick="toggleLoginForm()">click here if you are a Blast administrator</a>.</p>
    </div>
    <div class="p-2" id="oidc-button">
        <a role="button" class="btn btn-lg btn-block btn-primary" href="/oidc/authenticate">user login</a>
    </div>
  </div>
  <form id="local-login-form" method="post" style="display: none;">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="btn btn-lg btn-block btn-secondary">Login</button>
  </form>
  {% else %}
  <div class="form-frame d-flex flex-column align-items-center justify-content-center py-5">
    <div class="p-2">
        <h1>User Profile</h1>
    </div>
    <div class="p-2 my-3">
      <p style="padding-left: 2rem; text-indent: -2rem; font-size: larger;"><b>Name:</b> <code>{% if user.first_name  or user.last_name %}{{ user.first_name }} {{ user.last_name }}{% else %}None{% endif %}</code></p>
      <p style="padding-left: 2rem; text-indent: -2rem; font-size: larger;"><b>Email:</b> <code>{% if user.email %}{{ user.email }}{% else %}None{% endif %}</code></p>
      <p style="padding-left: 2rem; text-indent: -2rem; font-size: larger;"><b>Username:</b> <code>{% if username_b64decoded %}{{ username_b64decoded }}{% else %}{{ user.username }}{% endif %}</code></p>
    </div>
  </div>

  {% endif %}
  <script>
      function toggleLoginForm() {
          var login_form = document.getElementById("local-login-form");
          var oidc_button = document.getElementById("oidc-button");
          if (login_form.style.display === "none") {
              login_form.style.display = "block";
              oidc_button.style.display = "none";
            } else {
              login_form.style.display = "none";
              oidc_button.style.display = "block";
          }
      }
  </script>
</body>
{% endblock %}
