name: blast-dev

networks:
  internal:
    external: false

volumes:
  blast-db: {}
  django-static: {}
  blast-data:
    name: "blast-data"
  astrodash-data: {}

services:

  nginx:
    extends:
      file: docker-compose.yml
      service: nginx
    ports:
      - 127.0.0.1:4000:${WEB_SERVER_PORT}
    env_file:
      - ../env/.env.default
      - ../env/.env.dev
    volumes:
      - django-static:/static
      - blast-data:/data
      - ../nginx/default_slim.conf:/etc/nginx/conf.d/default.conf

  app:
    extends:
      file: docker-compose.yml
      service: app
    build:
      context: ../app/
    ports:
      - 127.0.0.1:8000:${WEB_APP_PORT}
    environment:
      - "DEV_MODE=1"
      - "ASTRO_DASH_CORS_ALLOWED_ORIGINS=*"
    env_file:
      - ../env/.env.default
      - ../env/.env.dev
    volumes:
      - blast-data:/mnt/data
      - django-static:/app/static
      - ./dustmapsrc:/tmp/.dustmapsrc:ro
      - ../app:/app
      - astrodash-data:/mnt/astrodash-data

  database:
    extends:
      file: docker-compose.yml
      service: database
    env_file:
      - ../env/.env.default
      - ../env/.env.dev

  celery-worker:
    extends:
      file: docker-compose.yml
      service: celery-worker
    build:
      context: ../app/
    env_file:
      - ../env/.env.default
      - ../env/.env.dev
    volumes:
      - blast-data:/mnt/data
      - django-static:/app/static
      - ./dustmapsrc:/tmp/.dustmapsrc:ro
      - ../app:/app

  celery-beat:
    extends:
      file: docker-compose.yml
      service: celery-beat
    build:
      context: ../app/
    env_file:
      - ../env/.env.default
      - ../env/.env.dev
    volumes:
      - blast-data:/mnt/data
      - django-static:/app/static
      - ./dustmapsrc:/tmp/.dustmapsrc:ro
      - ../app:/app

  redis:
    extends:
      file: docker-compose.yml
      service: redis
    env_file:
      - ../env/.env.default
      - ../env/.env.dev

  flower:
    extends:
      file: docker-compose.yml
      service: flower
    build:
      context: ../app/
    env_file:
      - ../env/.env.default
      - ../env/.env.dev
    volumes:
      - blast-data:/mnt/data
      - django-static:/app/static
      - ./dustmapsrc:/tmp/.dustmapsrc:ro
      - ../app:/app

  batch:
    extends:
      file: docker-compose.yml
      service: batch
    env_file:
      - ../env/.env.default
      - ../env/.env.dev

  object-store:
    extends:
      file: docker-compose.yml
      service: object-store
    env_file:
      - ../env/.env.default
      - ../env/.env.dev
