name: blast-ci

networks:
  internal:
    external: false

volumes:
  blast-db: {}
  django-static: {}
  blast-data:
    name: "blast-data"
    external: true

services:

  app:
    extends:
      file: docker-compose.yml
      service: app
    environment:
      - "TEST_MODE=1"
    env_file:
      - ../env/.env.default
      - ../env/.env.ci

  database:
    extends:
      file: docker-compose.yml
      service: database
    env_file:
      - ../env/.env.default
      - ../env/.env.ci
