{% extends 'host/base.html' %}

{% block title %} Acknowledgements {% endblock %}

{% block body %}
<div class="container">
<div class="p-5 text-left bg-light" >
  <h1 class="mb-3">Acknowledgements</h1>
  <p class="mb-3">Blast is largely glue between already established software projects. It could not
    exist without them. If you use Blast, you <b>must</b> acknowledge and cite all
    of the following projects which Blast uses; a BibTeX file is available via
    <a href="https://blast.readthedocs.io/en/latest/acknowledgements/software.html">
    the software page of our documentation</a>. Blast is
    based upon work originally supported by the National Aeronautics and Space Administration
    under Grant No. 80NSSC21K0834 issued through the Astrophysics Data Analysis Program.
  </p>
  <p>
    Currently Blast application development and operation of the public service are funded by:<br>
  </p>
  <div class="container">
    <div class="row">
      <div class="col-lg-1 col-sm-2">
        <img 
          class=""
          style="width: 100%; min-width: 80px; max-width: 100px;"
          alt="nsf_logo.png" 
          src="/static/images/nsf_logo.png">
      </div>
      <div class="col-lg-11 col-sm-10">
        <p>
          <b>
            National Science Foundation Award &#35;2510994<br>
            <i>Research: The Connection between Astrophysical Transients and their Host Galaxies Across Cosmic Time</i><br>
            10/01/2025 &mdash; 09/30/2028<br>
          </b>
        </p>
      </div>
    </div>
  </div>
    
    <p class="mb-3">
      The public deployment of Blast at <a href="https://blast.scimma.org">https://blast.scimma.org</a> is built and maintained by the <a href="https://ncsa.illinois.edu/">National Center for Supercomputing Applications (NCSA)</a> at the University of Illinois Urbana-Champaign, and it is hosted on cyberinfrastructure provided by the <a href="https://access-ci.org/">NSF ACCESS program</a>.
    </p>
    
    
  <h3 class="mb-3">Contributors</h3>
  <ul>
    <li class="mb-3">Peter McGill      (University of California, Santa Cruz)</li>
    <li class="mb-3">David Jones       (University of Hawai&#x02BBi)</li>
    <li class="mb-3">T. Andrew Manning (NCSA, University of Illinois Urbana-Champaign)</li>
    <li class="mb-3">Lila Braff        (University of California, Santa Cruz)</li>
    <li class="mb-3">Dave Coulter      (Space Telescope Science Institute)</li>
    <li class="mb-3">Diego Farias      (University of Copenhagen)</li>
    <li class="mb-3">Ryan Foley        (University of California, Santa Cruz)</li>
    <li class="mb-3">Alex Gagliano     (Institute For AI and Fundamental Interactions)</li>
    <li class="mb-3">Jack Kutcka       (University of California, Santa Cruz)</li>
    <li class="mb-3">Zhisen Lai        (University of California, Santa Cruz)</li>
    <li class="mb-3">Kayla Loertscher  (University of California, Santa Cruz)</li>
    <li class="mb-3">Gautham Narayan   (University of Illinois Urbana-Champaign)</li>
    <li class="mb-3">Stephen Thorp     (Stockholm University)</li>
    <li class="mb-3">Ashley Villar     (Harvard University)</li>
    <li class="mb-3">Bingjie Wang      (Penn State University)</li>
    <li class="mb-3">Rishabh Bezbarua  (University of Illinois Urbana-Champaign)</li>
  </ul>
</div>

<table class="table table-responsive">
  <thead>
    <tr>
      <th scope="col">Project</th>
      <th scope="col">Usage</th>
      <th scope="col">Repository</th>
      <th scope="col">Paper</th>
      <th scope="col">DOI</th>
      <th scope="col">Website</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Astropy</td>
      <td>Used in almost all aspects of the project</td>
      <td><a class="nav-link" href="https://github.com/astropy/astropy">https://github.com/astropy/astropy</a></td>
      <td><a class="nav-link" href="https://ui.adsabs.harvard.edu/abs/2018AJ....156..123A/abstract">ADS</a></td>
      <td><a class="nav-link" href="https://www.doi.org/10.3847/1538-3881/aabc4f">10.3847/1538-3881/aabc4f</a></td>
      <td><a class="nav-link" href="https://www.astropy.org">https://www.astropy.org</a></td>
    </tr>
   
    <tr>
      <td>NumPy</td>
      <td>Used in almost all aspects of the project</td>
      <td><a class="nav-link" href="https://github.com/numpy/numpy">https://github.com/numpy/numpy</a></td>
      <td><a class="nav-link" href="https://ui.adsabs.harvard.edu/abs/2020Natur.585..357H/abstract">ADS</a></td>
      <td><a class="nav-link" href="https://www.doi.org/10.1038/s41586-020-2649-2">10.1038/s41586-020-2649-2</a></td>
      <td><a class="nav-link" href="https://numpy.org">https://numpy.org</a></td>
    </tr>
   
    <tr>
      <td>photutils</td>
      <td>Used for the host aperture photometry</td>
      <td><a class="nav-link" href="https://github.com/astropy/photutils">https://github.com/astropy/photutils</a></td>
      <td><a class="nav-link" href="https://ui.adsabs.harvard.edu/abs/2022zndo....596036B/abstract">ADS</a></td>
      <td><a class="nav-link" href="https://www.doi.org/10.5281/zenodo.6385735">10.5281/zenodo.6385735</a></td>
      <td><a class="nav-link" href="https://photutils.readthedocs.io/en/stable/">https://photutils.readthedocs.io/en/stable/</a></td>
    </tr>
   
    <tr>
      <td>Astroquery</td>
      <td>Used for gathering external data for transients</td>
      <td><a class="nav-link" href="https://github.com/astropy/astroquery">https://github.com/astropy/astroquery</a></td>
      <td><a class="nav-link" href="https://ui.adsabs.harvard.edu/abs/2019AJ....157...98G/abstract">ADS</a></td>
      <td><a class="nav-link" href="https://www.doi.org/10.3847/1538-3881/aafc33">10.3847/1538-3881/aafc33</a></td>
      <td><a class="nav-link" href="https://astroquery.readthedocs.io/en/latest/">https://astroquery.readthedocs.io/en/latest/</a></td>
    </tr>
   
    <tr>
      <td>HiPS</td>
      <td>Used in the cutout generation</td>
      <td><a class="nav-link" href="https://github.com/hipspy/hips">https://github.com/hipspy/hips</a></td>
      <td><a class="nav-link" href="https://ui.adsabs.harvard.edu/abs/2015A%26A...578A.114F/abstract">ADS</a></td>
      <td><a class="nav-link" href="https://www.doi.org/10.1051/0004-6361/201526075">10.1051/0004-6361/201526075</a></td>
      <td><a class="nav-link" href="https://hips.readthedocs.io">https://hips.readthedocs.io</a></td>
    </tr>
   
    <tr>
      <td>dynesty</td>
      <td>Used in the inference of host galaxy parameters</td>
      <td><a class="nav-link" href="https://github.com/joshspeagle/dynesty">https://github.com/joshspeagle/dynesty</a></td>
      <td><a class="nav-link" href="https://ui.adsabs.harvard.edu/abs/2020MNRAS.493.3132S/abstract">ADS</a></td>
      <td><a class="nav-link" href="https://www.doi.org/10.1093/mnras/staa278">10.1093/mnras/staa278</a></td>
      <td><a class="nav-link" href="https://dynesty.readthedocs.io/en/latest/">https://dynesty.readthedocs.io/en/latest/</a></td>
    </tr>
   
    <tr>
      <td>Prospector</td>
      <td>Used in the inference of host galaxy parameters</td>
      <td><a class="nav-link" href="https://github.com/bd-j/prospector">https://github.com/bd-j/prospector</a></td>
      <td><a class="nav-link" href="https://ui.adsabs.harvard.edu/abs/2021ApJS..254...22J/abstract">ADS</a></td>
      <td><a class="nav-link" href="https://www.doi.org/10.3847/1538-4365/abef67">10.3847/1538-4365/abef67</a></td>
      <td><a class="nav-link" href="https://prospect.readthedocs.io/en/latest/">https://prospect.readthedocs.io/en/latest/</a></td>
    </tr>
   
    <tr>
      <td>sedpy</td>
      <td>Used in the inference of host galaxy parameters</td>
      <td><a class="nav-link" href="https://github.com/bd-j/sedpy">https://github.com/bd-j/sedpy</a></td>
      <td><a class="nav-link" href="https://pypi.org/project/sedpy/">ADS</a></td>
      <td><a class="nav-link" href="https://www.doi.org/10.5281/zenodo.4582723">10.5281/zenodo.4582723</a></td>
      <td><a class="nav-link" href="https://ui.adsabs.harvard.edu/abs/2019ascl.soft05026J/abstract">https://ui.adsabs.harvard.edu/abs/2019ascl.soft05026J/abstract</a></td>
    </tr>
   
    <tr>
      <td>SVO Filter Profile Service</td>
      <td>Used in the inference of host galaxy parameters</td>
      <td><a class="nav-link" href="https://github.com/hover2pi/svo_filters">https://github.com/hover2pi/svo_filters</a></td>
      <td><a class="nav-link" href="https://ui.adsabs.harvard.edu/abs/2020sea..confE.182R/abstract">ADS</a></td>
      <td><a class="nav-link" href="https://www.doi.org/10.5479/ADS/bib/2012ivoa.rept.1015R">10.5479/ADS/bib/2012ivoa.rept.1015R</a></td>
      <td><a class="nav-link" href="https://svo.cab.inta-csic.es/main/index.php">https://svo.cab.inta-csic.es/main/index.php</a></td>
    </tr>
   
    <tr>
      <td>Python FSPS</td>
      <td>Used to generate spectra and magnitude for arbitrary stellar populations</td>
      <td><a class="nav-link" href="https://github.com/dfm/python-fsps/tree/v0.4.1rc1">https://github.com/dfm/python-fsps/tree/v0.4.1rc1</a></td>
      <td><a class="nav-link" href="https://ui.adsabs.harvard.edu/abs/2014zndo.....12157F/abstract">ADS</a></td>
      <td><a class="nav-link" href="https://www.doi.org/10.5281/zenodo.4737461">10.5281/zenodo.4737461</a></td>
      <td><a class="nav-link" href="https://dfm.io/python-fsps/current/">https://dfm.io/python-fsps/current/</a></td>
    </tr>
   
    <tr>
      <td>SBI</td>
      <td>Used in the inference of host galaxy parameters</td>
      <td><a class="nav-link" href="https://github.com/sbi-dev/sbi">https://github.com/sbi-dev/sbi</a></td>
      <td><a class="nav-link" href="https://joss.theoj.org/papers/10.21105/joss.02505">ADS</a></td>
      <td><a class="nav-link" href="https://www.doi.org/10.21105/joss.02505">10.21105/joss.02505</a></td>
      <td><a class="nav-link" href="https://sbi-dev.github.io/sbi/latest/">https://sbi-dev.github.io/sbi/latest/</a></td>
    </tr>
   
    <tr>
      <td>SBI++</td>
      <td>Used in the inference of host galaxy parameters</td>
      <td><a class="nav-link" href="https://github.com/wangbingjie/sbi_pp">https://github.com/wangbingjie/sbi_pp</a></td>
      <td><a class="nav-link" href="https://iopscience.iop.org/article/10.3847/2041-8213/ace361">ADS</a></td>
      <td><a class="nav-link" href="https://www.doi.org/10.3847/2041-8213/ace361">10.3847/2041-8213/ace361</a></td>
      <td><a class="nav-link" href="https://github.com/wangbingjie/sbi_pp">https://github.com/wangbingjie/sbi_pp</a></td>
    </tr>
   
    <tr>
      <td>Prost</td>
      <td>Used to match transients to host galaxies</td>
      <td><a class="nav-link" href="https://github.com/alexandergagliano/Prost">https://github.com/alexandergagliano/Prost</a></td>
      <td><a class="nav-link" href="">ADS</a></td>
      <td><a class="nav-link" href="https://www.doi.org/"></a></td>
      <td><a class="nav-link" href="https://astro-prost.readthedocs.io/">https://astro-prost.readthedocs.io/</a></td>
    </tr>
  </tbody>
</table>

</div>

{% endblock %}
