{% extends "host/card_template.html" %}

{% load crispy_forms_tags %}

<!-- title -->
{% block title %} <h4> Imaging data </h4>{% endblock %}

<!-- body -->
{% block body %}
<div id="loading-indicator" class="loader"></div>
{% if bokeh_cutout_div %}
{{ bokeh_cutout_div | safe }}
{% else %}
<div id="cutout-img-div">
    <p style="text-align: center;">Click the image to load the interactive plot.</p>
    <button id="cutout-img-button" onclick="cutoutImgClick('{{ transient.name }}', '{{ cutout.name }}')">
        <img id="cutout-img" src="data:image/png;base64,{{ image_data_encoded }}" style="width: 100%;"/>
    </button>
    <br>
</div>
{% endif %}
<form class="form" , method="POST">
    {% csrf_token %}
    <div class="input-group mb-10">
        {{ filter_select_form.filters }}
        <div class="input-group-append">
            <button type="submit" ,class="btn btn-outline-success" ,type="button">Get Cutout</button>
        </div>
    </div>
</form>
{% if bokeh_cutout_div %}
{{ bokeh_cutout_div | safe }}
{% else %}
<script>
    document.getElementById('loading-indicator').style.display = "none";
    function cutoutImgClick(transient, cutout) {
        document.getElementById('loading-indicator').style.display = "block";
        document.getElementById('cutout-img-div').style.display = "none";
        $.ajax({
            url: "{% url 'cutout_fits_plot' %}",
            type: "GET",
            data: {
                transient_name: transient,
                cutout_name: cutout
            },
            success: function (resp) {
                $("#cutout-img-div").replaceWith(resp.bokeh_cutout_div);
                var cutout_script = document.createElement("script");
                cutout_script.type = 'text/javascript';
                var raw_script = resp.bokeh_cutout_script;
                var raw_script_trimmed = raw_script.trim();
                var script_trimmed = raw_script_trimmed.replace('<script type="text/javascript">', "").replace("</scr", "").replace("ipt>", "");
                cutout_script.text = script_trimmed;
                document.body.appendChild(cutout_script);
            },
        });
    }
</script>
<style>
    #cutout-img {
        max-width: 100%;
        max-height: 100%;
    }

    #cutout-img-button {
        background: transparent;
        border: none !important;
    }
</style>
{% endif %}
{% endblock %}
