{% extends 'host/base.html' %}
{% load host_tags %}

{% block title %} Privacy Policy {% endblock %}

{% block body %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }
</style>
<div class="container">
    <div class="p-5 text-left bg-light">
        <h1 class="mb-3">Privacy Policy of <a href="/"><strong>blast.scimma.org</strong></a></h1>
        <p> Last updated: July 2025</p> <!-- UPDATE THIS IN PROD -->
        <p>We are the developers of the Blast research software application and the operators of the public science gateway service at https://blast.scimma.org. We are a non-profit, academic organization. This privacy policy outlines how we collect and use your personal information when you use our services. </p>
        <h2 class="mb-4">Table of Contents</h2>
        <ul>
            <li> <a href="#what-we-collect">What information we collect</a></li>
            <li> <a href="#why-we-collect">How do we use this information</a></li>
            <li> <a href="#acceptance">Acceptance of terms</a></li>
            <li> <a href="#contact-information">Contact Information</a></li>
        </ul>
        <h2 class="mb-4" id="what-we-collect">What information we collect</h2>
        <p>
            We collect the following information:
            <ol>
                <li>URL of the page accessed</li>
                <li>Time of the access</li>
                <li>Uploaded form data</li>
                <li>Your username (if authenticated)</li>
                <li>Your IP address</li>
                <li>The "user agent" as reported by your browser, which typically contains information about your operating system, device type, and browser</li>
            </ol>
            This information is collected every time you:
            <ul>
                <li>access a transient result page,</li>
                <li>add or import a transient,</li>
                <li>use the API functions.</li>
            </ul>
        </p>
        <h2 class="mb-4" id="why-we-collect">How do we use this information</h2>
        <p>
            We use this information internally to monitor, troubleshoot, and improve our services.<br> 
            We may also analyze and render the data for reporting purposes, such as to funding agencies. In these cases, we will only publish aggregate statistics and anonymized data: items 3-6 in the list of collected data above will not be included.<br>
            <br>
            The information may be stored by us indefinitely. The information will never be sold, nor will it be given to a third party, except for the limited purpose of operating the service.
        </p>
        <h2 class="mb-4" id="acceptance">Acceptance of terms</h2>
        <p>
            By continuing to the website (blast.scimma.org) and the services provided by this website, you hereby consent to the information collected by us as outlined in this document.
        </p>
        <h2 class="mb-4" id="contact-information">Contact Information</h2>
        <p>If you have any questions or concerns please contact us by emailing <a href="mailto:{% support_email %}">✉️ {% support_email %}</a>.</p>

    </div>
</div>
{% endblock %}
