{% extends 'host/base.html' %}
{% load host_tags %}

{% block title %} Privacy Policy {% endblock %}

{% block body %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }
</style>
<div class="container">
    <div class="p-5 text-left bg-light">
        <h1 class="mb-3">Privacy Policy of <a href="/"><strong>blast.scimma.org</strong></a></h1>
        <p> Last updated: July 2025</p> <!-- UPDATE THIS IN PROD -->
        <p>We are Blast, a non-profit research organization. This privacy policy outlines how we collect, use, and protect your personal information when you use our services. </p>
        <h2 class="mb-4">Table of Contents</h2>
        <ul>
            <li> <a href="#what-we-collect">What information we collect</a></li>
            <li> <a href="#why-we-collect">How do we use this information</a></li>
            <li> <a href="#acceptance">Acceptance of terms</a></li>
            <li> <a href="#contact-information">Contact Information</a></li>
        </ul>
        <h2 class="mb-4" id="what-we-collect">What information we collect</h2>
        <p>
            We collect the following information:
            <ul>
                <li>The page accesed</li>
                <li>Information entered into the page (may include buttons clicked)</li>
                <li>The time of the request</li>
                <li>Your username</li>
                <li>Your IP address</li>
                <li>Operating System type and version, Device type, and Browser</li>
            </ul>                
            This information is collected everytime you:
            <ul>
                <li>access a transient's page</li>
                <li>upload a transient to the workflow</li>
                <li>access the API</li>
            </ul>
        </p>
        <h2 class="mb-4" id="why-we-collect">How do we use this information</h2>
        <p>
            We use this information to administer and monitor our services. We may use this information to improve our services.<br> 
            We may also some of your data for funding purposes. In such cases, your username, IP address, Operating System type and version, Device type, and Browser, and any other Persoanlly Identifying Information will not be provided to a third party. <br>
            <br>
            The information is stored by us indefinitely. The information is only used by us and will not be sold to any third parties. 
        </p>
        <h2 class="mb-4" id="acceptance">Acceptance of terms</h2>
        <p>
            By continuing to the website (blast.scimma.org) and the services provided by this website, you hereby consent to the information collected by us as outlined in this document.
        </p>
        <h2 class="mb-4" id="contact-information">Contact Information</h2>
        <p>You can contact us by emailing <a href="mailto:{% support_email %}">{% support_email %}</a> with any questions.</p>

    </div>
</div>
{% endblock %}