{% extends 'host/base.html' %}

{% block title %} Team {% endblock %}

{% block body %}
<style>
  .bio {
    padding-top: 2.5rem;
  }
  .member-name {
    color: #d15e00;
  }
</style>

<div class="container">
  <div class="row mt-4">
    <div class="col-md-6 col-sm-12">
      <h2 id="university-of-hawai%CA%BBi" tabindex="-1">University of Hawai&#699;i</h2>
      <div class="row mt-4">
        <div class="col-lg-5 col-md-12 photo">
          <h3 class="member-name">David Jones</h3>

            <img
              class="img-fluid img-thumbnail"
              src="/static/images/5c6b0d14-28aa-4a36-9202-036de992fbc9.jpeg"
              alt="david_zooniverse.jpeg" width="200">

        </div>
        <div class="col-lg-7 col-md-12 bio">
          David Jones is an Assistant Astronomer at the University of Hawai&#699;i's Institute for
          Astronomy.
          His research interests include the interface of supernovae and their host galaxies, as well as
          measuring cosmic expansion with Type Ia supernovae.
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-5 col-md-12 photo">
          
            <h3 class="member-name">Nicole Drakos</h3>

            <img
              class="img-fluid img-thumbnail"
              src="/static/images/a2cfc31d-25c5-48ab-b255-3eabfae386f5.jpeg"
              alt="nicole_zooniverse.jpeg" width="200">
          
        </div>
        <div class="col-lg-7 col-md-12 bio">
          Dr. Nicole Drakos is an Assistant Professor of Physics and Astronomy at the University of
            Hawai&#699;i at Hilo. Her research focuses on computational astrophysics, dark matter
            structure
            and
            galaxy formation.

        </div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-5 col-md-12 photo">
          
            <h3 class="member-name">Miranda Kong</h3>

            <img
              class="img-fluid img-thumbnail"
              src="/static/images/5a5c2ed4-da66-44cd-ac37-f0c432449847.jpeg"
              alt="miranda_zooniverse.jpeg" width="200">

        </div>
        <div class="col-lg-7 col-md-12 bio">
          Miranda Y. Kong is a PhD student at the Institute for Astronomy at the University of
          Hawai&#699;i at
          Mānoa. Her recent research focuses on sub-mm galaxies, Green Pea galaxies, and supernova
          feedback during the cosmic epoch of reionization.
          
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-5 col-md-12 photo">
          
            <h3 class="member-name">Inoa Martinez</h3>
            <img
              class="img-fluid img-thumbnail"
              src="/static/images/4bbb8c67-828a-42d4-9e7d-c5278d0822c6.jpeg"
              alt="Inoa_m.jpeg" width="200">

        </div>
        <div class="col-lg-7 col-md-12 bio">
          Inoa Martinez is an Undergraduate at the University of Hawai&#699;i Mānoa, currently pursuing
          a
          Bachelors of Science in Astrophysics. Inoa led the design of this Zooniverse project, his
          first
          major project under the Hi-CAT team. In the future he hopes to study the early universe.
          
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">

      <h2 id="university-of-illinois" tabindex="-1">University of Illinois</h2>

      <div class="row mt-4">
        <div class="col-lg-5 col-md-12 photo">
          
            <h3 class="member-name">Gautham Narayan</h3>

            <img
              class="img-fluid img-thumbnail"
              src="/static/images/677b6552-97b2-44fe-99e1-d46685653053.jpeg"
              alt="gautham_zooniverse.jpeg" width="200">
          
        </div>
        <div class="col-lg-7 col-md-12 bio">
          Gautham Narayan is an Associate Professor at the University of Illinois, Urbana-Champaign.
            His
            research interests are at the intersection of multi-messenger and time-domain astrophysics,
            cosmology, statistics and data science. He works on wide-field surveys developing machine
            learning methods for real-time detection and classification of variable and transient sources,
            Bayesian models for cosmological inference with type Ia supernovae, understanding the host
            galaxies of transients, and establishing an all-sky network of faint spectrophotometric
            standards for Rubin/LSST and future projects.
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-5 col-md-12 photo">
          
            <h3 class="member-name">T. Andrew Manning</h3>

            <img
              class="img-fluid img-thumbnail"
              src="/static/images/917c43e0-5c09-49eb-8982-3ec4cc487de6.jpeg"
              alt="andrew_zooniverse.jpeg" width="200">
          
        </div>
        <div class="col-lg-7 col-md-12 bio">
          Andrew Manning is a Senior Research Scientist at the National Center for Supercomputing
            Applications (NCSA). His interests include developing, deploying, and maintaining research
            software and cyberinfrastructure for small to large research collaborations.
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-5 col-md-12 photo">
          
            <h3 class="member-name">Rishabh Bezbarua</h3>

            <img
              class="img-fluid img-thumbnail"
              src="/static/images/6edc9777-f5a2-4978-8af1-36a9b2552b41.jpeg"
              alt="rishabh_zooniverse.jpeg" width="200">
          
        </div>
        <div class="col-lg-7 col-md-12 bio">
          Rishabh Bezbarua is an undergraduate student at the University of Illinois, Urbana-Champaign.
            He is currently pursuing a major in Computer Science. Under the SPIN program hosted by the
            National Center for Supercomputing Applications (NCSA), he has contributed to Blast's
            infrastructure.
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
