astro-sedpy==0.4.0
astroquery==0.4.7
crispy-bootstrap4==2025.6
django_celery_results==2.6.0
django-bootstrap4==25.2
django-celery-beat==2.8.1
django-filter==25.1
django-latexify==0.3
django-silk==5.4.3
django-tables2==2.7.5
Django==5.1.14
djangorestframework==3.16.1
furo==2025.9.25
git+https://github.com/jorenham/django-cron.git@cec7465#egg=django-cron  # 2025/09/10 Replaced with fork due to v0.6.0 incompatibility with Django v5.1. 
mozilla-django-oidc==4.0.1
pandas==2.3.3
photutils==2.2.0
psycopg2-binary==2.9.11
Sphinx==8.2.3
sphinx-copybutton==0.5.2
sphinx-rtd-theme==3.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
