Sphinx
sphinx-copybutton
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
furo
django-latexify
crispy-bootstrap4==2025.6
Django==5.0.14
django_celery_results==2.6.0
django-bootstrap4==25.1
django-celery-beat==2.8.1
django-cron==0.6.0
django-filter==25.1
django-latexify==0.3
django-revproxy==0.13.0
django-silk==5.4.0
django-tables2==2.7.5
djangorestframework==3.16.0
mysqlclient==2.2.7
pandas
astroquery==0.4.7
photutils==2.2.0
astro-sedpy==0.4.0
